/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/uploads/
/uploads/face-recognition/*
/public/assets
/public/fonts
/public/icons
/public/svg
/public/css/app.css
/public/css/admin.css
/public/css/admin/app.css
/public/css/vue/vue.css
/public/css/brand.min.css
/public/css/coreui-chartjs.css
/public/css/cropper.css
/public/css/flag.min.css
/public/css/free.min.css
/public/css/jquery.orgchart.css
/public/css/jquery.orgchart.min.css
/public/css/style.css
/public/css/timesheet-records.css
/public/css/timesheet-report.css
/public/css/leave-request.css
/public/css/bundy.css
/public/css/face-recognition.css
/public/css/supervisor.css
/public/css/advance.css
/public/css/advance/
/public/js/app.js
/public/js/app.js.LICENSE.txt
/public/js/Chart.min.js
/public/js/axios.min.js
/public/js/coreui-chartjs.bundle.js
/public/js/coreui.bundle.min.js
/public/js/cropper.js
/public/js/media-cropp.js
/public/js/media.js
/public/js/menu-create.js
/public/js/menu-edit.js
/public/js/jquery.orgchart.js
/public/js/jquery.orgchart.min.js
/public/js/jquery.orgchart.min.js.map
/public/js/registration.js
/public/js/timesheet.js
/public/js/bundy.js
/public/js/leave-request.js
/public/js/admin.js
/public/js/tableToCsv.js
/public/js/supervisor.js
/public/js/jquery.tabledit.js
/public/js/app.js.LICENSE.txt
/public/js/charts.js
/public/js/colors.js
/public/js/coreui-utils.js
/public/js/main.js
/public/js/popovers.js
/public/js/tooltips.js
/public/js/widgets.js
/public/js/face-register.js
/public/js/face-clock.js
/public/js/advance/
/public/js/admin/
/public/mix-manifest.json
.phpintel/
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
composer.lock
